#header-background {
    background: black;
    text-align: center;
}
#main-background {
    background: white;
    text-align: center;
}
#footer-background {
    background: gray;
    text-align: center;
}
